{% extends 'todoListApp/main.html' %}<!--  part n f -->
{% block content %}<!--  part n f -->

<!-- <h1>Login</h1> -->

<!-- <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
</form> -->

 <!--<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p> <!-- part l a -->


<!-- part p  a -->
<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p> <!-- part l a -->
</div>




{% endblock content %}<!--  part n f -->